

<div>
  <label>Image URL:
    <input [(ngModel)]="userInput" />
  </label>
  <button (click)="colorizeImage(userInput); userInput.value=''">
    add
  </button>
</div>
{{img}}

<br/><br/><br/><br/>

<div>
  <label>id:
    <input [(ngModel)]="image.id" />
  </label>
  <label>Original Image:
    <input [(ngModel)]="image.originalImage" />
  </label>
  <label>Colorized Image:
    <input [(ngModel)]="image.colorizeImage" />
  </label>
  <label>Note:
    <input [(ngModel)]="image.note" />
  </label>
  <button (click)="add(image); image.value=''">
    add
  </button>
</div>

<br/><br/><br/><br/>

<h2>My Pictures</h2>
<ul class="users">
	<li *ngFor="let x of images">
		<a routerLink="/image-detail/{{x.id}}">
			<span class="badge">{{x.id}}</span>{{x.originalImage}}
		</a>
		<button class="delete" title="delete image"
    	(click)="delete(x)">x</button>
	</li>
</ul>