
<!-- User can add new URL of B&W image -->
<div class="user-url-input">
  <label>Image URL:
    <input [(ngModel)]="userInput" />
  </label>
  <button (click)="colorizeImage(userInput); userInput.value=''">
    add
  </button>
</div>
{{img}}

<h3 class="loading-message" *ngIf="isLoading">{{loading}}</h3>


<!-- Displays all image sets saved in DB -->
<h3>My Pictures</h3>
  <ul>
    <li *ngFor="let x of images">
      <div class="flexing">
	    <div class="inside-flex">
		  <!-- <img src="x.originalImage" alt="..." class="img-thumbnail"> -->
		  <a routerLink="/image-detail/{{x.id}}">
		  <img [src]="x.originalImage"
		    alt="Place image title"
		    *ngIf="!isImageLoading; else noImageFound">
		    <!-- <ng-template #noImageFound>
		    <img src="fallbackImage.png" alt="Fallbackimage">
		    </ng-template> -->

		  <img [src]="x.colorizedImage"
		    alt="Place image title"
		    *ngIf="!isImageLoading; else noImageFound">
		    <!-- <ng-template #noImageFound>
		    <img src="fallbackImage.png" alt="Fallbackimage">
		    </ng-template> -->
		    <button class="delete" title="delete image"
	          (click)="delete(x)">x</button>
	      </a>
		</div>	
	  </div>
    </li>
  </ul>


