

<div class="user-url-input">
  <label>Image URL:
    <input [(ngModel)]="userInput" />
  </label>
  <button (click)="colorizeImage(userInput); userInput.value=''">
    add
  </button>
</div>
{{img}}

<h3 class="loading-message" *ngIf="isLoading">{{loading}}</h3>

<!-- <div>
  <label>id:
    <input [(ngModel)]="image.id" />
  </label>
  <label>Original Image:
    <input [(ngModel)]="image.originalImage" />
  </label>
  <label>Colorized Image:
    <input [(ngModel)]="image.colorizeImage" />
  </label>
  <label>Note:
    <input [(ngModel)]="image.note" />
  </label>
  <button (click)="add(image); image.value=''">
    add
  </button>
</div> -->




<h2>My Pictures</h2>
<!-- <div class="grid grid-pad">
 -->	
 	<ul>
		<li *ngFor="let x of images">

			<div class="flexing">
			

				<div class="inside-flex">
				


				<!-- <img src="x.originalImage" alt="..." class="img-thumbnail"> -->
				<a routerLink="/image-detail/{{x.id}}">
				<img [src]="x.originalImage"
				     alt="Place image title"
				     *ngIf="!isImageLoading; else noImageFound">
				<!-- <ng-template #noImageFound>
				     <img src="fallbackImage.png" alt="Fallbackimage">
				</ng-template> -->

				
				<img [src]="x.colorizedImage"
				     alt="Place image title"
				     *ngIf="!isImageLoading; else noImageFound">
				<!-- <ng-template #noImageFound>
				     <img src="fallbackImage.png" alt="Fallbackimage">
				</ng-template> -->
				<button class="delete" title="delete image"
	    	            (click)="delete(x)">x</button>

	    	    </a>
				</div>

				
			</div>
		</li>
	</ul>


