
<div *ngIf="user">
	<h2>{{ user.lastName | uppercase }} Details</h2>
	<div>
		<span>id: </span>{{user.id}}
		<label>id:
    		<input [(ngModel)]="user.id" placeholder="id">
  		</label>
	</div>
	<div>
		<label>first name:
			<input [(ngModel)]="user.firstName" placeholder="first name">
		</label>
	</div>
	<div>
		<label>last name:
			<input [(ngModel)]="user.lastName" placeholder="last name">
		</label>
	</div>
	<button (click)="save()">save</button>
<!-- 	<button (click)="saveDetail()">save detail</button>
 -->	<button (click)="goBack()">go back</button>
</div>
