

<div class="user-url-input">
  <label>Image URL:
    <input [(ngModel)]="userInput" />
  </label>
  <button (click)="colorizeImage(userInput); userInput.value=''">
    add
  </button>
</div>

<h3 class="loading-message" *ngIf="isLoading">{{loading}}</h3>

<br/><br/><br/>
<div class="flexing">
	<div class="inside-flex">
	  <a *ngFor="let image of images" 
	    routerLink="/image-detail/{{image.id}}">
	      <img  [src]="image.originalImage"
			alt="Place image title"
			*ngIf="!isImageLoading; else noImageFound"/> 
	  </a>
	</div>
</div>

